<nb-layout>

  <nb-layout-header fixed>
    <span class="header-text">Sociopool Task</span>
  </nb-layout-header>

  <nb-layout-column>

    <!-- <mat-drawer-container class="main-container" [hasBackdrop]="true">
      <mat-drawer class="side-nav" #drawer mode="side">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/home']">Home</a>
       </mat-nav-list>
      </mat-drawer>
    
      <mat-drawer-content>
        <mat-toolbar>
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Sociopool Task</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container> -->
    
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
 
  </nb-layout-footer> -->

</nb-layout>
